torch==2.1.2+cpu
torchvision==0.16.2+cpu
streamlit==1.35.0
langchain==0.2.1
langchain-pinecone==0.1.1
langchain-community==0.2.1
langchain-groq==0.1.5
sentence-transformers==2.7.0
cohere==5.5.8
python-dotenv==1.0.1
pydantic==2.7.4
pinecone-client==3.2.2 
